.topic-cart {
  align-items: center;
  justify-content: center;
}
.topic-container {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 15px;
  background-color: #f7efc5;
  width: 500px;
  height: 610px;
  gap: 50px;
  margin: 100px 750px;
  text-align: center;
}
.topic-container img {
  width: 300px;
  height: 300px;
}
.start-quiz-btn {
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  background-color: cadetblue;
  text-align: center;
}
.start-quiz-btn:hover {
  background-color: darkcyan;
}
.arrow {
  height: 20px;
  width: 20px;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}
@media only screen and (min-width: 960px) {
  .topic-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px;
    background-color: #f7efc5;
    width: 500px;
    height: 610px;
    gap: 50px;
    margin: 100px 300px;
    text-align: center;
  }

  @media only screen and (min-width: 1440px) {
    .topic-container {
      display: grid;
      grid-template-columns: 1fr;
      border: 2px solid gray;
      border-radius: 20px;
      padding: 15px;
      background-color: #f7efc5;
      width: 500px;
      height: 610px;
      gap: 50px;
      margin: 100px 400px;
      text-align: center;
    }
  }
  @media only screen and (min-width: 2000px) {
    .topic-container {
      display: grid;
      grid-template-columns: 1fr;
      border: 2px solid gray;
      border-radius: 20px;
      padding: 15px;
      background-color: #f7efc5;
      width: 500px;
      height: 610px;
      gap: 50px;
      margin: 100px 750px;
      text-align: center;
    }
  }
  @media only screen and (max-device-width: 480px) {
    .topic-container {
      display: grid;
      grid-template-columns: 1fr;
      border: 2px solid gray;
      border-radius: 20px;
      padding: 15px;
      background-color: #f7efc5;
      width: 400px;
      height: 610px;
      gap: 50px;
      margin: 100px 200px;
      text-align: center;
    }
  }
  @media only screen and (device-width: 768px) {
    .topic-container {
      display: grid;
      grid-template-columns: 1fr;
      border: 2px solid gray;
      border-radius: 20px;
      padding: 15px;
      background-color: #f7efc5;
      width: 500px;
      height: 610px;
      gap: 50px;
      margin: 100px 350px;
      text-align: center;
    }
  }
}
